<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activityMapper">
  <insert id="insertActivity" useGeneratedKeys="true" keyProperty="actNo" keyColumn="ACT_NO">
  		insert into activity (ACT_NO, MEM_ID, ACT_PHONE, ACT_STARTDAY, 
  								ACT_ENDDAY, ACT_PLACE, ACT_PEOPLE, ACT_REQUESTEND, 
  								ACT_CATEGORY, ACT_TITLE, ACT_PRICE, ACT_URL, ACT_CONTENT, ACT_GUIDE,
  								ACT_COUNT, ACT_DATE, ACT_STATUS)
  		VALUES (seq_actid.nextval, #{memId}, #{actPhone}, #{actStartday}, #{actEndday}, #{actPlace},
  				#{actPeople}, #{actRequestend}, #{actCategory}, #{actTitle}, #{actPrice}, #{actUrl}, #{actContent}, #{actGuide}, default, sysdate, default)
  </insert>
  
  <select id="getListCount" resultType="_int">
  	select count(*)
  	from activity
  </select>
  
  <select id="selectList" resultMap="activityResultSet">
  	select *
  	from activity
  	order by act_no desc
  </select>
  
  <resultMap type="Activity" id="activityResultSet">
  	<id property="actNo" column="ACT_NO"/>
  	<result property="memId" column="MEM_ID"/>
  	<result property="actPhone" column="ACT_PHONE"/>
  	<result property="actStartday" column="ACT_STARTDAY"/>
  	<result property="actEndday" column="ACT_ENDDAY"/>
  	<result property="actPlace" column="ACT_PLACE"/>
  	<result property="actPeople" column="ACT_PEOPLE"/>
  	<result property="actRequestend" column="ACT_REQUESTEND"/>
  	<result property="actCategory" column="ACT_CATEGORY"/>
  	<result property="actTitle" column="ACT_TITLE"/>
  	<result property="actPrice" column="ACT_PRICE"/>
  	<result property="actUrl" column="ACT_URL"/>
  	<result property="actContent" column="ACT_CONTENT"/>
  	<result property="actGuide" column="ACT_GUIDE"/>
  	<result property="actCount" column="ACT_COUNT"/>
  	<result property="actDate" column="ACT_DATE"/>
  	<result property="actStatus" column="ACT_STATUS"/>
  </resultMap>
  
  <select id="selectAct" resultMap="activityResultSet">
  	select *
  	from activity
  	where act_no = #{actNo}
  </select>
  
  <update id="actUnableUpdate">
  	update activity
  	set act_status='N'
  	where act_no = #{actNo}
  </update>
  
  <update id="actAbleUpdate">
  	update activity
  	set act_status='Y'
  	where act_no = #{actNo}
  </update>
  
  <delete id="deleteAct">
  	delete
  	from activity
  	where act_no = #{actNo}
  </delete>
  
  <update id="updateActivity">
  	update activity
  	set act_phone = #{actPhone}, act_startday = #{actStartday}, act_endday = #{actEndday}, act_place = #{actPlace},
  		act_people = #{actPeople}, act_requestend = #{actRequestend}, act_category = #{actCategory},
  		act_title = #{actTitle}, act_price = #{actPrice}, act_url = #{actUrl}, act_content = #{actContent},
  		act_guide = #{actGuide}
  	where act_no = #{actNo}	
  </update>
</mapper>
