<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="Member" id="memberResultSet">
	  	<id property="memNo" column="mem_no"/>
	  	<result property="memId" column="mem_id"/>
	  	<result property="memPwd" column="mem_pwd"/>
	  	<result property="memName" column="mem_name"/>
	  	<result property="memPostcode" column="mem_postcode"/>
	  	<result property="memBasicAddr" column="mem_basicaddr"/>
	  	<result property="memDetailAddr" column="mem_detailaddr"/>
	  	<result property="memPhone" column="mem_phone"/>
	  	<result property="memNickname" column="mem_nickname"/>
	  	<result property="memEmail" column="mem_email"/>
	  	<result property="memLevel" column="mem_level"/>
	  	<result property="memDate" column="mem_Date"/>
	  	<result property="memStatus" column="mem_status"/>
	  	<result property="memLoginType" column="mem_login_type"/>
	</resultMap>
	
	<resultMap type="Notice" id="noticeResultSet">
	  	<id property="notNo" column="NOT_NO"/>
	    <result property="memId" column="MEM_ID"/>
	 	<result property="notTitle" column="NOT_TITLE"/>
	  	<result property="notContent" column="NOT_CONTENT"/>
	  	<result property="nickName" column="MEM_NAME"/>
	  	<result property="notCount" column="NOT_COUNT"/>
	  	<result property="notDate" column="NOT_DATE"/>
	  	<result property="notStatus" column="NOT_STATUS"/>
  	</resultMap>
  	
  	<resultMap type="CustomerQna" id="cusQnAResultSet">
		<id property="cusqnaNo" column="CUSQNA_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="cusqnaTitle" column="CUSQNA_TITLE"/>
		<result property="cusqnaCategory" column="CUSQNA_CATEGORY"/>
		<result property="cusqnaContent" column="CUSQNA_CONTENT"/>
		<result property="nickName" column="MEM_NICKNAME"/>
		<result property="cusqnaCount" column="CUSQNA_COUNT"/>
		<result property="cusqnaDate" column="CUSQNA_DATE"/>
		<result property="cusqnaStatus" column="CUSQNA_STATUS"/>
 	</resultMap>
  	
  	<resultMap type="Banner" id="bannerResultSet">
  		<id property="banNo" column="BAN_NO"/>
  		<result property="banAlt" column="BAN_ALT"/>
  		<result property="banOpen" column="BAN_OPEN"/>
  		<result property="banOrigin" column="BAN_NAME"/>
  		<result property="banName" column="BAN_ORIGIN"/>
  		<result property="banPath" column="BAN_PATH"/>
  	</resultMap>
  	
  	<!-- 배너 -->
  	<insert id="insertBanner">
  		insert into banner
  		values(seq_bannid.nextval, #{banAlt}, default, #{banOrigin}, 
  				#{banName}, #{banPath})
  	</insert>
  	
  	<select id="getBannerListCount" resultType="_int">
	   	select count(*)
	  	from banner
	</select>

	<select id="selectBannerList" resultMap="bannerResultSet">
		select *
		from banner
		order by ban_no desc
	</select>
	
	<update id="updateBannerOpen">
		update banner set ban_open = #{open}
		where ban_no = #{bannerNo}
	</update>
  	
  	
    <!-- 공지 사항 -->
  	<select id="getNoticeListCount" resultType="_int">
  		select count(*)
  		from notice
  	</select>
  	
  	<select id="selectNoticeList" resultMap="noticeResultSet">
	  	select *
	  	from notice
	  		 join member using(mem_id)
	  	where not_status = 'Y'
	  	order by not_no desc
    </select>
  	
  	<!-- 고객센터 -->
  	
  	<select id="getQnAListCount" resultType="_int">
	   	select count(*)
	  	from customer_qna
	</select>

	<select id="selectCusQnAList" resultMap="cusQnAResultSet">
		select *
		from customer_qna
		order by cusqna_no desc
	</select>
  	
	<!-- 회원 멤버 -->
  	<select id="getMemberListCount" resultType="_int">
  		select count(*)
  		from member
  		
  	</select>
  	
  	<select id="selectMemberList" resultMap="memberResultSet">
  		select *
  		from member
		order by mem_id desc
  	</select>
  	
  	<update id="updateMemberLevel">
		update member set mem_level = #{level}
		where mem_id = #{memberId}
	</update>

	<update id="updateMemberStatus">
		update member set mem_status = #{status}
		where mem_id = #{memberId}
	</update>
	
</mapper>
