<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="imageMapper">
	<insert id="insertImage">
		insert into image
		values(seq_imgid.nextval, #{imgOrigin}, #{imgName}, #{imgPath}, sysdate, #{imgLevel},
				default, #{imgRefcode}, #{imgRefno})
	</insert>
</mapper>
