<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">

	<resultMap type="Order" id="orderResultSet">
	  	<id property="ordNo" column="ORD_NO"/>
	  	<result property="memId" column="MEM_ID"/>
	  	<result property="ordCount" column="ORD_COUNT"/>
	  	<result property="ordDate" column="ORD_DATE"/>
	  	<result property="ordName" column="ORD_NAME"/>
	  	<result property="ordPhone" column="ORD_PHONE"/>
	  	<result property="ordPostcode" column="ORD_POSTCODE"/>
	  	<result property="ordBasicaddr" column="ORD_BASICADDR"/>
	  	<result property="ordDetailaddr" column="ORD_DETAILADDR"/>
	  	<result property="ordRequest" column="ORD_REQUEST"/>
	  	<result property="ordPayno" column="ORD_PAYNO"/>
	  	<result property="ordPay" column="ORD_PAY"/>
	  	<result property="ordPayWay" column="ORD_PAYWAY"/>
	  	<result property="ordReview" column="ORD_REVIEW"/>
	  	<result property="ordStatus" column="ORD_STATUS"/>
	  	<result property="ordRefcode" column="ORD_REFCODE"/>
  		<result property="ordRefno" column="ORD_REFNO"/>
  </resultMap>
<select id="selectOrderList" resultMap="orderResultSet">
	select *
	from order
	
</select>
<insert id="insertOrderlist">
	INSERT INTO ORDERS () 
	VALUES ()

</insert>
</mapper>
