<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">
	<insert id="insertProduct" useGeneratedKeys="true" keyProperty="proNo" keyColumn="PRO_NO">
		insert into product(PRO_NO, MEM_ID, PRO_CHARGE, PRO_STOCK, 
							PRO_MAXIMUM, PRO_CATEGORY, PRO_TITLE, 
							PRO_PRICE, PRO_URL, PRO_CONTENT, 
							PRO_GUIDE, PRO_COUNT, PRO_DATE, PRO_STATUS, PRO_TOTAL_SCORE, PRO_REVIEW_CNT, PRO_RATING)
		VALUES (seq_proid.nextval, #{memId}, #{proCharge}, 
				#{proStock}, #{proMaximum}, #{proCategory}, 
				#{proTitle}, #{proPrice}, #{proUrl}, 
				#{proContent}, #{proGuide}, default, sysdate, default, default, default, default)
	</insert>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from product
	</select>
	
	<select id="getUserListCount" resultType="_int">
		select count(*)
		from product
		where mem_id = #{memId}
	</select>
	
	<select id="selectList" resultMap="productResultSet">
		select *
		from product
		where mem_id = #{memId}
		order by pro_no desc
	</select>
	
	<!-- 상품 조회 -->
	<select id="selectProductList" resultMap="productResultSet">
		select *
		from product
		order by pro_no desc
	</select>
	
	<select id="selectUserList" resultMap="productResultSet">
		select *
		from product
		where mem_id = #{memId} and pro_status = 'Y'
		order by pro_no desc
	</select>
	
	<resultMap type="Product" id="productResultSet">
		<id property="proNo" column="PRO_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="proCharge" column="PRO_CHARGE"/>
		<result property="proStock" column="PRO_STOCK"/>
		<result property="proMaximum" column="PRO_MAXIMUM"/>
		<result property="proCategory" column="PRO_CATEGORY"/>
		<result property="proTitle" column="PRO_TITLE"/>
		<result property="proPrice" column="PRO_PRICE"/>
		<result property="proUrl" column="PRO_URL"/>
		<result property="proContent" column="PRO_CONTENT"/>
		<result property="proGuide" column="PRO_GUIDE"/>
		<result property="proCount" column="PRO_COUNT"/>
		<result property="proDate" column="PRO_DATE"/>
		<result property="proStatus" column="PRO_STATUS"/>
		<result property="proRating" column="PRO_RATING"/>
  		<result property="proReviewCnt" column="PRO_REVIEW_CNT"/>
	</resultMap>
	
	<resultMap type="Product" id="productAllResultSet">
		<id property="proNo" column="PRO_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="proCharge" column="PRO_CHARGE"/>
		<result property="proStock" column="PRO_STOCK"/>
		<result property="proMaximum" column="PRO_MAXIMUM"/>
		<result property="proCategory" column="PRO_CATEGORY"/>
		<result property="proTitle" column="PRO_TITLE"/>
		<result property="proPrice" column="PRO_PRICE"/>
		<result property="proUrl" column="PRO_URL"/>
		<result property="proContent" column="PRO_CONTENT"/>
		<result property="proGuide" column="PRO_GUIDE"/>
		<result property="proCount" column="PRO_COUNT"/>
		<result property="proDate" column="PRO_DATE"/>
		<result property="proStatus" column="PRO_STATUS"/>
  		<result property="proTotalScore" column="PRO_TOTAL_SCORE"/>
  		<result property="proReviewCnt" column="PRO_REVIEW_CNT"/>
		<result property="proRating" column="PRO_RATING"/>
		<collection property="member" resultMap="memberResultSet"/>
		<collection property="image" resultMap="imageResultSet"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
	  	<id property="memNo" column="MEM_NO"/>
	  	<result property="memId" column="MEM_ID"/>
	  	<result property="memPwd" column="MEM_PWD"/>
	  	<result property="memName" column="MEM_NAME"/>
	  	<result property="memPostcode" column="MEM_POSTCODE"/>
	  	<result property="memBasicAddr" column="MEM_BASICADDR"/>
	  	<result property="memDetailAddr" column="MEM_DETAILADDR"/>
	  	<result property="memPhone" column="MEM_PHONE"/>
	  	<result property="memNickname" column="MEM_NICKNAME"/>
	  	<result property="memEmail" column="MEM_EMAIL"/>
	  	<result property="memLevel" column="MEM_LEVEL"/>
	  	<result property="memDate" column="MEM_DATE"/>
	  	<result property="memStatus" column="MEM_STATUS"/>
	</resultMap>
	
	<resultMap type="Image" id="imageResultSet">
	  	<id property="imgNo" column="IMG_NO"/>
	  	<result property="imgOrigin" column="IMG_ORIGIN"/>
	  	<result property="imgName" column="IMG_NAME"/>
	  	<result property="imgPath" column="IMG_PATH"/>
	  	<result property="imgDate" column="IMG_DATE"/>
	  	<result property="imgLevel" column="IMG_LEVEL"/>
	  	<result property="imgStatus" column="IMG_STATUS"/>
	  	<result property="imgRefcode" column="IMG_REFCODE"/>
	  	<result property="imgRefno" column="IMG_REFNO"/>
	</resultMap>
	
	<select id="selectPro" resultMap="productResultSet">
		select *
		from product
		where pro_no = #{proNo}
	</select>
	
	<update id="proUnableUpdate">
		update product
		set pro_status ='N'
		where pro_no = #{proNo}
	</update>
	
	<update id="proAbleUpdate">
		update product
		set pro_status = 'Y'
		where pro_no = #{proNo}
	</update>
	
	 <delete id="deletePro">
	 	delete
	 	from product
	 	where pro_no = #{proNo}
	 </delete>
	 
	 <update id="updateProRatingCnt">
	  	update product
	  	set pro_total_score = #{proTotalScore}, pro_review_cnt = #{proReviewCnt}, pro_rating = #{proRating}
	  	where pro_no = #{proNo}
	  </update>

	 <!-- 게시물 조회수 증가 -->
	 <update id="addReadCount">
		 update product
		 set pro_count = pro_count + 1
		 where pro_no = #{pdId}
  	 </update>
	 
	 <select id="selectProduct" resultMap="productResultSet">
	 	select *
		from product
		where pro_no=#{pdId} and pro_status='Y'
	 </select>
	 
	 <select id="selectOrderSum" resultType="_int">
		select count(*)
		from orders
		where ord_refno = #{pcId} and ord_refcode = 1
	</select>
	 
	 <!-- by.다혜 메인 검색 -->
  	 <!-- 스페이스 기준으로 나눈 토큰을 Like or 조건으로 제목과 스타 검색한다. 
  	   아래 쿼리는 keywords에 해당하는 제목의 게시글을 찾는다.
  	   단, 전체 검색이기 때문에 카테고리는 구분하지 않는다. -->
	 	<select id="getProSearchListCount" resultType="_int">
			select count(*)
			from product
			where
				<foreach item="arr" collection="array" open="(" separator="or" close=")">
		  			pro_title like '%' || #{arr} || '%' 
		  		</foreach>
		  			and pro_status='Y'
		</select>
		
	  	<select id="proSearchLsit" resultMap="productAllResultSet">
		  	select p.pro_no, p.mem_id, p.pro_title, p.pro_price, p.pro_rating, p.pro_review_cnt, m.mem_no, m.mem_nickname, i.img_no, i.img_name, i.img_level, i.img_status, i.img_refcode, i.img_refno
			from product p
			    inner join image i on p.pro_no = i.img_refno
			    inner join member m on p.mem_id = m.mem_id
		  	where
		  		<foreach item="arr" collection="array" open="(" separator="or" close=")">
		  			pro_title like '%' || #{arr} || '%' 
		  		</foreach>
		  		and pro_status = 'Y' and i.img_refcode = 2 and i.img_level = 0
		  	order by pro_no desc
	  	</select>

	<!-- by.다혜 메인 추천 상품 리스트 -->
  	<!-- 인기 상품: 추천순으로 상위 50개 상품을 뽑아 랜덤으로 5건을 노출한다.
  			단,추출된 상품이 50건 미만일 경우 상위 5건을 노출 -->
	  	<select id="getPopularProList" resultMap="productAllResultSet">
			<![CDATA[
				select orderedlist.*
				from (select p.pro_no, p.mem_id, p.pro_title, p.pro_price, p.pro_category,
				            p.pro_rating, p.pro_review_cnt, m.mem_no, m.mem_nickname,
				            i.img_no, i.img_name, i.img_level, i.img_status, i.img_refcode, i.img_refno
				      from product p
				        inner join image i on p.pro_no = i.img_refno
				        inner join member m on p.mem_id = m.mem_id
				      where pro_status = 'Y'
				        and i.img_refcode = 2
				        and i.img_level = 0
				      order by p.pro_rating desc, p.pro_review_cnt desc, pro_date desc) orderedlist
				where rownum <= 50
			]]>
	  	</select>
	  	
	  <update id="updateProduct">
	 	update product
	 	set pro_charge = #{proCharge}, pro_stock = #{proStock}, pro_maximum = #{proMaximum},
	 		pro_category = #{proCategory}, pro_title = #{proTitle}, pro_price = #{proPrice},
	 		pro_url = #{proUrl}, pro_content = #{proContent}, pro_guide = #{proGuide}
	 	where pro_no = #{proNo}
	 </update>
	 
	 <!-- product -->
	 <select id="ProductListCount" resultType="_int">
	 	select count(*)
  		from product 	
  		where pro_category = #{proCategory}
	 </select>
	   <select id="selectProBoardList" resultMap="productResultSet">
  	select *
  	from product 	
  	where pro_category = #{proCategory}
  </select>
</mapper>
