<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="salesQnaMapper">
	<resultMap type="SalesQna" id="salesQnaResultSet">
		<id property="salqnaNo" column="SALQNA_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="salqnaTitle" column="SALQNA_TITLE"/>
		<result property="salqnaType" column="SALQNA_TYPE"/>
		<result property="salqnaDate" column="SALQNA_DATE"/>
		<result property="salqnaContent" column="SALQNA_CONTENT"/>
		<result property="salqnaStatus" column="SALQNA_STATUS"/>
		<result property="salqnaRefcode" column="SALQNA_REFCODE"/>
		<result property="salqnaRefno" column="SALQNA_REFNO"/>
	</resultMap>
	
	<select id="selectQnaList" resultMap="salesQnaResultSet">
		select *
		from sales_qna
		where salqna_type = 'A' and salqna_refcode = 0 and salqna_refno = #{acId} and salqna_status = 'Y'
		order by salqna_no desc
	</select>
</mapper>
